body {
  font-family: 'Franklin Gothic';
  background-color: #F6F6F6;
}

.header-container {
    display: grid;
    grid-template-columns: 300px auto 100px 100px 100px 100px 100px 100px;
    background-color: #383B44;
    width: 100%;
    position: fixed;
    gap: .2%;
    padding: .1%;
    top: 0;
    left: 0;
  }

  .header-page {
    text-align: center;
    font-size: 15px 0;
    padding: 20px 30px;
    color: #F6F6F6;
    text-decoration: none;
  }

  .header-logo {
    text-align: center;
    font-size: 15px 0;
    padding: 20px 30px;
    color: #ec780b;
  }

  .header-page:hover {
    background-color: #F6F6F6;
    text-align: center;
    padding: 20px 30px;
    font-size: 15px 0;
    color: #383B44;
    border-radius: 2px;
  }

  .filler {
    width: 100%;
  }

  img {
    width: 100%;
    border-radius: 3px 3px 0 0;
  }

  .item-display {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    width: fit-content;
    margin: auto;
  }

  .item-container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #ffffff;
    width: 300px;
    border-radius: 3px;
    display: grid;
  }

  .item-info-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 200px;
    gap: 4px;
    margin-bottom: 25px;
    margin-left: 25px;
  }

  .item-spec {
    font-weight: light;
  }

  .item-info {
    font-weight: bold;
  }

  .item-image {
    margin-bottom: 10px;
  }

  .item-name {
    margin-left: 25px;
    margin-bottom: 25px;
    font-size: 25px;
    font-weight: lighter;
  }

  .item-price-container {
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.19);
  }

  .item-price {
    margin-left: 25px;
    color: #ec780b;
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 25px;
  }

  .price-per-week {
    margin-left: 25px;
    margin-bottom: 25px;
  }