body {
  font-weight: bold;
  font-family: sans-serif;
}

.header-container {
    display: grid;
    grid-template-columns: 3fr 15fr 2fr 2fr 2fr 2fr 2fr 2fr;
    background-color: #383B44;
    width: 99.6%;
    position: fixed;
    gap: .2%;
    padding: .1%;
    top: 0;
    left: 0;
  }

  .header-page {
    text-align: center;
    font-size: 15px 0;
    padding: 15px 0;
    color: #F6F6F6;
    text-decoration: none;
  }

  .header-logo {
    text-align: center;
    font-size: 15px 0;
    padding: 15px 0;
    color: #ec780b;
  }

  .header-page:hover {
    background-color: #F6F6F6;
    text-align: center;
    padding: 15px 0;
    font-size: 15px;
    color: #383B44;
    border-radius: 2px;
  }

.item-display-container {
    margin-left: 15%;
    width: 70%;
    display: grid;
    padding: 20px 0;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr ;
  }

  .item-basic-info-container {
    grid-template-columns: 2fr 1fr;
    background-color: #D3D5D4;
    border-radius: 3px 0 0 3px;
  }

  .basic-info{
    background-color: #dce3e4;
    padding: 20px 0;
    font-size: 15px;
    text-align: center;
    margin: 3px 0;
    border-left: 3px solid #D3D5D4;
  }

  .item-info-container {
    grid-template-columns: 1fr;
    background-color: #D3D5D4;
    font-size: 15px;
    text-align: center;
  }

  .item-spec-container {
    grid-template-columns: 1fr;
    background-color: #dce3e4;
    font-size: 15px;
    text-align: center;
  }

  .car-image {
    background-color: #dce3e4;
    font-size: 15px;
    text-align: center;
    margin: 3px 0;
    grid-row: 2 / 5;
    padding: 80px 0;
    border-left: 3px solid #D3D5D4;
  }

  .spec {
    background-color: #D3D5D4;
    margin: 3px 0;
    padding: 20px 0;
  }

  .info {
    background-color: #dce3e4;
    margin: 3px 0;
    padding: 20px 0;
  }

  #rightmost {
    border-right: 3px solid #D3D5D4;
  }

  #right {
    border-radius: 0 3px 3px 0;
  }