.header-container {
    display: grid;
    grid-template-columns: 3fr 2fr 2fr 2fr 2fr 2fr 2fr;
    background-color: #383B44;
    width: 99.6%;
    position: fixed;
    gap: .2%;
    padding: .1%;
    top: 0;
    left: 0;
  }

  .header-container > div {
    text-align: center;
    font-size: 30px;
    padding: 30px 0;
    color: #F6F6F6;
  }
  .header-page:hover {
    background-color: #F6F6F6;
    text-align: center;
    padding: 30px 0;
    font-size: 30px;
    color: #383B44;
  }
.grid-container {
    margin-top: 4.5%;
    margin-left: 15%;
    width: 70%;
    display: grid;
    gap: 5px;
    background-color: #ffffff;
    padding: 30px 0;
  }
  
  .grid-container > div {
    background-color: #D3D5D4;
    text-align: center;
    padding: 30px 0;
    font-size: 30px;
  }

  buy-button{
    
  }

  price {

  }

  car-image {

  }

  .spec-v1 {

  }
  spec-v2 {

  }